@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }
body { background-color: #020617; color: #e2e8f0; overflow-x: hidden; }

/* Custom Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #020617; }
::-webkit-scrollbar-thumb { background: #334155; border-radius: 10px; }